body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: azure;
    padding: 20px;
}

nav {
    background-color: #555;
    color: white;
    padding: 10px;
}

main {
    /* background-color: bisque; */
    padding: 20px;
}

aside {
    width: 30%;
    background: lightgray;
    padding-left: 20px;
    margin-left: 20px;
    float: right;
    font-style: italic;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    bottom: 0;
}